.Component {
  background-color: transparent;
  color: #4183c4;
  border: none;
  cursor: pointer;
  display: inline;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.Component:hover {
  color: #1e70bf;
  text-decoration: none;
}
.Component:focus {
  text-decoration: none;
}
